<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Area do Cliente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Area do Cliente</ion-title>
    </ion-toolbar>
  </ion-header>





  <ion-grid>
    <ion-row>
      <ion-col><ion-card color="primary">
          <ion-card-header>
            <ion-card-title>15</ion-card-title>
            <ion-card-subtitle>Cupons usados</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content> unidade </ion-card-content>
        </ion-card></ion-col>
      <ion-col><ion-card color="success">
          <ion-card-header>
            <ion-card-title>R$958,30 </ion-card-title>
            <ion-card-subtitle>total em cupons</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>em reais </ion-card-content>
        </ion-card></ion-col>
      <ion-col><ion-card color="warning">
          <ion-card-header>
            <ion-card-title>8</ion-card-title>
            <ion-card-subtitle>Quantidade de Lojas</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content> Qtd de lojas que usou cupons</ion-card-content>
        </ion-card></ion-col>
    </ion-row>
  </ion-grid>


  <ion-list>
    <ion-item>
      <ion-label>Quantidade de clientes</ion-label>
      <ion-badge color="success">R$ 150,00</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Quantidade de clientes</ion-label>
      <ion-badge color="success">R$ 250,00</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Calça jeans</ion-label>
      <ion-badge color="success">R$ 100,00</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Bone</ion-label>
      <ion-badge color="success">R$ 60,00</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Blusa</ion-label>
      <ion-badge color="success">R$ 80,00</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Milk-Shack</ion-label>
      <ion-badge color="success">R$ 25,00</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Short</ion-label>
      <ion-badge color="success">R$ 45,00</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>PenDrive</ion-label>
      <ion-badge color="success">R$ 125,00</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Sorvete</ion-label>
      <ion-badge color="success">R$ 5,00</ion-badge>
    </ion-item>
  </ion-list>

</ion-content>
