<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Supermercado Silva
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Supermercado Silva</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-card-content>
    <h2 class="cupons">Abaixo aplique o cupom</h2>
    <br>
    <ion-input label="Digite o Cupom" label-placement="floating" fill="outline" class="btnaplica" placeholder="Agora so aplicar"></ion-input>
    <br>
    <ion-button color="success">Aplicar</ion-button>
  </ion-card-content>




  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>15069</ion-card-title>
      <ion-card-subtitle>Quantidade de Clientes</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>R$ 650.450,00</ion-card-title>
      <ion-card-subtitle>Total Valor Gasto</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>10</ion-card-title>
      <ion-card-subtitle>Quantidade de Afiliados</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
 <ion-text color="primary">
  <h1 class="cupons">Ultimos cupons usados</h1>
</ion-text>
  <ion-list>
    <ion-item>
      <ion-label>NINAKIMCHI10</ion-label>
      <ion-badge color="warning">R$ 150,00</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>NINAKIMCHI15</ion-label>
      <ion-badge color="warning">R$ 250,00</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>NERIIDEV5</ion-label>
      <ion-badge color="warning">R$ 100,00</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>JOJAJOAO10</ion-label>
      <ion-badge color="warning">R$ 60,00</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>PADARIAPAODOCE5</ion-label>
      <ion-badge color="warning">R$ 80,00</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>MCDONDA10</ion-label>
      <ion-badge color="warning">R$ 25,00</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>MODAFASHION5</ion-label>
      <ion-badge color="warning">R$ 45,00</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>ELETRONICOS10</ion-label>
      <ion-badge color="warning">R$ 125,00</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>SORVETERIA20</ion-label>
      <ion-badge color="warning">R$ 5,00</ion-badge>
    </ion-item>
  </ion-list>

</ion-content>
